/* Stylesheet css for Landing Page */

header h1 {
  display: inline-block;
  font-size: 65px;
  font-weight: 200;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 5px 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
    position: absolute;
    right: 0.5px;
    top: 50;
}

nav ul {
    margin: 0;
}

.header-list {
  list-style-type: none;
  padding: 5;
  margin: 0 20px;
}

.header-item {
  display: inline-block;
  float: right;
}

.header-item a {
  display: block;
  padding: 10px 20px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;    
  font-size: 20px;
  text-decoration: none;
  color: #4CAF50;
  transition-duration: 0.4s;

}

.header-item a:hover {
    color: #4CE457;
}

main {
    display: inline-block;
    //background-color: #846DBC;
    padding: 20px 20px 100px 20px;
    min-height: 300px; 
    width: 100%;
}

div .button-wrapper {
    width: 100%;
    height: auto;
}

#create-poll-button {
  position: relative;
  width: 200px;
  height: 50px;    
  margin-top: 20%;    
  font-size: 20px;
  cursor: pointer;
  background-color: #4CAF57;
  color: white;
  border: none;
  border-radius: 30px;
  outline: none;
  transition-duration: 0.4s;
}

#create-poll-button:hover {
    background-color: #4CE457;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.polls-div {
    padding-top: 100px;
    margin: auto;
    width: 80%;
    position: relative;
    display: flex;
}

.polls {
    position: relative;
    margin: 20px;
    width: 300px;
    min-height: 300px;
    background-color: #846DBC;
    transition-duration: 0.4s;
}

.polls h1 {
    margin: 20px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

.polls:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
    background-color: darkgray;
}