/* Stylesheet css for Landing Page */

header h1 {
  display: inline-block;
  font-size: 65px;
  font-weight: 200;
  font-family: sans-serif;
  margin: 5px 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
    position: absolute;
    right: 0.5px;
    top: 50;
}

nav ul {
    margin: 0;
}

.header-list {
  list-style-type: none;
  padding: 5;
  margin: 0 20px;
}

.header-item {
  display: inline;
  float: right;
}

.header-item a {
  display: block;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #4CAF50;
}

main {
    display: inline-block;
    background-color: black;
    height: 500px;
    width: 100%;
}

div .button-wrapper {
    width: 100%;
    height: auto;
}

#create-poll-button {
  position: relative;
  width: 200px;
  height: 50px;    
  margin-top: 20%;    
  font-size: 20px;
  cursor: pointer;
  background-color: #4CAF57;
  color: white;
  border: none;
  border-radius: 30px;
  outline: none;
}
