/* Stylesheet CSS for Landing Page */
*{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0; padding: 0; border: 0; outline: 0;
}

/* Styling for General Body */


/* Styling for Header */
header {
  background: #232d32;
  width: 100%;
  height: 37px;
  position: fixed;
  z-index: 1;
}

header h1 {
  display: inline-block;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 10px;
  font-weight: 200;    
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: white; 
  transition-duration: 0.4s;    
}

a:hover {
    color: #4CE457;
}

.header-list-left{
  display: inline-block;
}
.header-list-right{
  display: inline-block;
  float: right;
  padding-right: 15px;
}

.box {
    display: inline-block;
    padding:10px;
    vertical-align: top;
    padding-right: 20px;
}
.header-item {
  display: inline-block;
  vertical-align: top;
}

.header-item a {
  padding: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:100px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
}

div .container-1 {
    position: relative;
    top: -5px;
}

i.fa {
    color: white;
}

input#search {
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
}

.header-item a:hover {
    color: #4CE457;
}
/*Account Dropdown for Header*/
    /*Dropdown Button*/
    .dropbtn {
        background-color: #4CAF50;
        border-radius:50%;
        margin-top: 1px;
        padding: 2px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    /* Styling for Main */
    main {
        display: inline-block;
        //background-color: lightgray;
        padding: 20px 20px 100px -30px;
        min-height: 300px;
        width: 100%;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        right:0;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition-duration: 0.4s;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Styling for the results container*/
.question{
    font-size: 80px;
    font-weight: bolder;
    padding-left: 60px;
    padding-top: 20px;
    color: gray;
}

.buttons{
    margin-top: 350px;
}

.results-modal {
    color: gray;
    z-index: 1010; /*sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    position: fixed;
}

.results-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 70px;
    padding: 20px;
    height: 800px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    float: right;
    color: black;
    font-size: 28px;
}

form {
  font-size: 24px;
  font-weight: lighter;
  padding: 60px;
}

#option-choices {
    margin: 10px;
}

#buttonVote{
    font-weight: lighter;
    font-size: 30px;
    padding: 15px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
}
#buttonVote:hover{
  cursor: pointer;
  background-color: #d9d9d9;
}

#buttonResults{
    font-weight: lighter;
    font-size: 30px;
    padding: 15px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

#buttonResults:hover{
  cursor: pointer;
  background-color: #d9d9d9;
}

.option{
    padding: 10px;
    font-size: 50px;
}

.buttons{
    text-align: center;
    font-size: 40px;
}


/* Styling for Spacing */
.spacing {
    width: 100%;
    height: 350px;
}


/* Background color of Create Poll */
.wrapper {
    width: 100%;
    height: 300px;
    background: grey;
}


/* Option Results Styling */
.option-results-div {
    margin-left: 50px; 
    margin-bottom: 30px;
}

.option-results {
    font-size: 30px;
    font-weight: 500;
}

/* Styling for Create Poll Button */
#create-poll-button {
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: 120px;
  font-size: 20px;
  cursor: pointer;
  background-color: #4CAF57;
  color: white;
  border: none;
  border-radius: 30px;
  outline: none;
  transition-duration: 0.4s;
}

#create-poll-button:hover {
    background-color: #4CE457;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Vote */



/* Results */
.pie {
    width: 100px; height: 100px;
    border-radius:50%;
    background:
}

/* Styling for the footer */
footer {
  background: #232d32;
  color: white;
  height: 250px;
}

.footer-image {
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    position: relative;
    width: 50%;
    height: 80%;
    text-align: right;
}

.footer-image p {
    display:inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-size: 35px;
}

.footerLists{
  display: inline-block;
  height: 80%;
  padding-top: 30px;
}

.footer-list-left {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
}

.leftList{
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.leftList a{
  color: grey;
}
.leftList a:hover{
  color: #4CE457;
  transition-duration: .4s;
}


.rightList{
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}
.rightList a{
  color: grey;
}
.rightList a:hover{
  color: #4CE457;
  transition-duration: .4s;
}

.footer-list-right {
    display: inline-block;
    padding-left: 30px;
    position: relative;
}


/* Styling for Modal */
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

#create-poll-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  width: 100%;
  height: 100%;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 200;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.poll-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.poll-input-element label {
  font-weight: 200;
  flex: 1 75px;
  margin-right: 10px;
}

.poll-input-element input,
.poll-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 100%;
}

.poll-input-element textarea {
  min-height: 64px;
}

.poll-input-element.required label::after {
  content: ' *';
  color: red;
}

.options div {
    width: 200px;
}

.poll-input-options-div {
    display: flex;
    padding: 5px;
    width: 100%;
}

#add-option-button {
    background-color: white;
    font-size: 15px;
    text-decoration: underline;
    color: #846DBC;
    border: none;
    outline: none;
    transition-duration: 0.4s;
}

#add-option-button:hover {
    color: #A88BF0;
    cursor: pointer;
}

.genre-select-container {
  margin-top: 30px;
  flex: 6 200px;
}

#genre-select {
  width: 100%;
  height: 40px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

#genre-select:hover {
    cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-accept-button {
  background-color: #4CAF57;
  border: none;
  color: #fff;
  transition-duration: 0.4s;
}

.modal-footer .modal-accept-button:hover {
  background-color: #4CE457;
}

.error-container {
  flex: 1 100%;
  text-align: center;
}

.error-container h2,
.error-container h3 {
  margin: 0;
  font-weight: lighter;
}

.error-container h2 {
  font-size: 96px;
}

.error-container h3 {
  font-size: 32px;
}


/* Add Animation */
@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
