*{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body{
  background-color: #e9ebee;
}

main {
  display: flex;
  flex-wrap: wrap;
  /*padding: 20px 20px 100px 20px;*/
}

/* Styling for Header */
header {
  background: #232d32;
  width: 100%;
  height: 37px;
  position: fixed;
  z-index: 2;
}

header h1 {
  display: inline-block;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  vertical-align: middle;
}

.header-list-left{
  display: inline-block;
}
.header-list-right{
  display: inline-block;
  float: right;
  padding-right: 15px;
}

.box {
    display: inline-block;
    padding:10px;
    vertical-align: top;
    padding-right: 20px;
}
.header-item {
  display: inline-block;
  vertical-align: top;
}

.header-item a {
  padding: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:100px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
}

div .container-1 {
    position: relative;
    top: -5px;
}

i.fa {
    color: white;
}

input#search {
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
}

.header-item a:hover {
    color: #4CE457;
}
/*Account Dropdown for Header*/
    /*Dropdown Button*/
    .dropbtn {
        background-color: #4CAF50;
        border-radius:50%;
        margin-top: 1px;
        padding: 2px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    /* Styling for Main */
    main {
        display: inline-block;
        //background-color: lightgray;
        padding: 20px 20px 100px -30px;
        min-height: 300px;
        width: 100%;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        right:0;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition-duration: 0.4s;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Account Dropdown for Header*/
    /*Dropdown Button*/
    .dropbtn {
        background-color: #4CAF50;
        border-radius:50%;
        margin-top: 1px;
        padding: 2px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    /* Styling for Main */
    main {
        display: inline-block;
        //background-color: lightgray;
        padding: 20px 20px 100px -30px;
        min-height: 300px;
        width: 100%;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        right:0;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition-duration: 0.4s;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

.dropdown:hover .dropdown-content {
    display: block;
}

input#headerSearch {
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
}

/* Styling for the main container holding the polls */
.container{
  padding-top: 37px;
  background-color: white; /* main background color*/
  width: 60%;
  margin: auto;
  min-height: 700px;
  min-width: 800px;
}

div .container-1 {
    position: relative;
    top: -5px;
}

i.fa {
    color: white;
}

input#bodySearch {
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
}


.sort{
  background-color: #FBAD61;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

.sort:hover{
  background-color: #fcbf83;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

/* Dropdown Button */
.genreDropbtn {
  background-color: #FBAD61;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

/* The container <div> - needed to position the dropdown content */
.genreDropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.genre-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.genre-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.genre-dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.genreDropdown:hover .genre-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.genreDropdown:hover .genreDropbtn {
  background-color: #fcbf83;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

/* Styling for the individual polls that show up */
.result{
  position: relative;
  height: 150px;
  border-top: 2px solid #e6e6e6;
  border-bottom: none;
  word-wrap: break-word;
  top: 20px;
  transition: 0.4s;
  font-weight: lighter;
}

.result:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.pollHeader{
  position: absolute;
  top: 1px;
  left: 160px;
}

.pollHeader h2{
  font-weight: lighter;
}

/* Styling for the footer */
footer {
  background: #232d32;
  color: white;
  height: 250px;
}

.footer-image {
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    position: relative;
    padding-right: 10px;
    width: 46%;
    height: 80%;
    text-align: right;
}

.footer-image p {
    display:inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-size: 33px;
}

.footerLists{
  display: inline-block;
  height: 80%;
  padding-top: 30px;
}

.footer-list-left {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: top;
    font-size: 14px;
}

.leftList{
  padding-top: 5px;
  list-style-type: none;
}
.leftList a{
  color: grey;
}
.leftList a:hover{
  color: #4CE457;
  transition-duration: .4s;

}

.rightList{
  font-size: 14px;
  padding-top: 5px;
  list-style-type: none;
}
.rightList a{
  color: grey;
}
.rightList a:hover{
  color: #4CE457;
  transition-duration: .4s;
}

.footer-list-right {
  font-size: 14px;
    display: inline-block;
    padding-left: 30px;
    position: relative;
}
